body {
    background-color: yellow;
    font-family: fantasy;
    font-weight: bolder;
}

img {
    width: 200px;
    height: 200px;

}
.img-display {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.blank-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.letter-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: yellow;
    
}
.win-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color : seagreen
}
#showing-image {
    display: flex;
    order: 2;
    width: 400px;
    height: 300px;
}
#rabbit-list {
    display:flex;
    order:1;
    flex-direction: column;
    height: 250px;
    margin-top: 5px;
}

#rabbit {
    background-color: springgreen;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    
    
}
#lion {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
}

#lion-list {
    display:flex;
    order:3;
    flex-direction: column;
    height: 250px;
    margin-top:5px;
    
}
#star-point {
    
    width: 40px;
    height: 40px;
}

#heart-point {
   
    width: 40px;
    height: 40px;
}

#reset-button{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    width: 70px;
    height: 30px;
    margin-left: 20px;
    background-color: slateblue;
}

#win-img{
    padding-right: 20px;
}



